@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&#39');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

section#result {
    margin-top: 20px;
    text-align: center;
}

section#result p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
